<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Live map for Breath of the Wild Wii U">
    <meta name="author" content="RedSoloFox">

    <title>BOTW Live Map</title>

    <!-- jQuery -->
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="/static/css/leaflet.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/css/botwcss.css">
    <link rel="stylesheet" href="/static/css/layout.css">

    <!-- Custom JS -->
    <script type="text/javascript">
        window.alert = function () {
        };
        var defaultCSS = document.getElementById('bootstrap-css');
        function changeCSS(css) {
            if (css) $('head > link').filter(':first').replaceWith('<link rel="stylesheet" href="' + css + '" type="text/css" />');
            else $('head > link').filter(':first').replaceWith(defaultCSS);
        }
    </script>

</head>
<body>
<div id="wrapper">
    <div class="overlay"></div>

    <!-- Sidebar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
        <ul class="nav sidebar-nav">
            <li class="sidebar-brand">
                <a href="/">BOTW Live Map</a>
            </li>
            <li>
                <a href="/map/">Map</a>
            </li>
            <li>
                <a href="/status/">Status</a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cheats <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li class="dropdown-header">Cheats</li>
                    <li><a href="/cheats/">Cheat Page</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Events</a>
            </li>
            {% if bgecko["connected"] %}
                <li>
                    <a href="#" onclick="gecko_disconnect()">Disconnect</a>
                </li>
            {% endif %}
            <li>
                <a href="/settings/">Settings</a>
            </li>

        </ul>
    </nav>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
            <span class="hamb-top"></span>
            <span class="hamb-middle"></span>
            <span class="hamb-bottom"></span>
        </button>
        <div class="container">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <ul class="well">
                                {% for message in messages %}
                                    <li>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
            {% endwith %}
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
    <script type="text/javascript">
        $(document).ready(function () {
            var trigger = $('.hamburger'),
                overlay = $('.overlay'),
                isClosed = false;

            trigger.click(function () {
                hamburger_cross();
            });

            function hamburger_cross() {

                if (isClosed == true) {
                    overlay.hide();
                    trigger.removeClass('is-open');
                    trigger.addClass('is-closed');
                    isClosed = false;
                } else {
                    overlay.show();
                    trigger.removeClass('is-closed');
                    trigger.addClass('is-open');
                    isClosed = true;
                }
            }

            $('[data-toggle="offcanvas"]').click(function () {
                $('#wrapper').toggleClass('toggled');
            });
        });
    </script>
    <script src="/static/js/jsgecko.js"></script>
</div>
</body>
</html>
